// TODO: make a variable and math so everything adjusts together

$matrix: 1rem;
$icon: $matrix * 1.5;
$matrixBig: $matrix * 2;
$matrixBigIcon: $matrix * 2.1;

.metrics {
	> a,
	> div,
	> span {
		font-size: $matrix;

		.featureContainer & {
			font-size: $matrixBig;

			.mobile-browser & {
				font-size: $matrix;
			}
		}
	}

	a.count-comments:before {
		font-size: $matrix;
	}

	.post-views-icon {
		font-size: $icon;
	}
}

// .metrics .post-views-icon {
//     font-size: 1.5rem!important;
//    }

// .metrics a.count-comments:before {
//     font-size: 1rem;
// }
// .metrics .wpfp-span a:before {
//     font-size: 1.1rem;
// }
//
// .featureContainer .metrics .post-views-icon, .featureContainer .metrics a.count-comments:before {
//     font-size: 2.1rem!important;
//     }
// .featureContainer .metrics .wpfp-span a:before {
//     font-size: 1.9rem;
// }
// .featureContainer .metrics>a, .featureContainer .metrics>div, .featureContainer .metrics>span {
// 	    font-size: 2rem;
// }



.tab-pane {
	position: relative;

	.descriptor {
		display: none;

		@include media-breakpoint-up(sm) {
			.um-own-profile  & {
				display: block;
				position: absolute;
				top: -2.5rem;
				left: 18rem;
			}
		}
	}
}

#confirmation-messaage {
	margin: 3rem auto;
    max-width: 35rem;
    text-align: center;

    h4 {
	    font-size: 1.8rem;
	    font-weight: 200;
    }
}

#surveyContent {
	#postViews {
		position: absolute;
		top: -2.7rem;
		left: 3.5rem;

		@include media-breakpoint-down(md) {
			top: -1.1rem;
		}
	}
	.post-views {
		display: inline-block;
	}
}

#survey-table {
	tr {
		border: none;
		font-size: 1.2rem;
	}

	[rel="author"] {
		color: $fontColorAlt;
		// text-decoration: underline;
	}
}

.survey-link {
  color: $brand-primary;
  text-decoration: underline;
  cursor: pointer;

  &.read {
	  text-decoration: none;
	  opacity: 0.6;
  }
}

.modal {
	.modal-dialog {
		max-width: 800px;
	}
	.col-sm-10 {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.fa-envelope-o {
		font-size: 1.8rem;
		margin-right: 1.4rem;
	}
}

.close {
	color: #fff;
}

.um-profile-nav {

	@include media-breakpoint-down(md) {
		display: flex;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;

		.uimob500-hide {
			display: block !important;
			white-space: nowrap;
		}
	}
}

.um-role {

	&-audience,
	&-member {
		.avatar {
			border: 3px solid #75ff65;
			
			@at-root a#{&} {
				border: 3px solid #75ff65;
			}
		}
	}

	&-artist {
		.avatar {
			border: 3px solid #5994ff;
			
			@at-root a#{&} {
				border: 3px solid #5994ff;
			}
		}
	}

	&-studio,
	&-admin {
		.avatar {
			border: 3px solid #e8df51;
			
			@at-root a#{&} {
				border: 3px solid #e8df51;
			}
		}
	}

	.comments & {
		.avatar {
			border-width: 2px;
		}
	}

}

table {
  th {
  	font-size: 1.1rem;
    font-weight: bold;
  }

  td {
  	font-size: 1rem;
  }
}

::-webkit-scrollbar {
    height: 0px;  /* remove scrollbar space */
    width: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//     background: $brand-accent;
// }