@font-face {
  font-family: 'Avenir';
  src:
    url('../fonts/AvenirLTStd-Light.ttf'),
    url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
    url('../fonts/AvenirLTStd-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src:
    url('../fonts/AvenirLTStd-Book.ttf'),
    url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
    url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src:
    url('../fonts/AvenirLTStd-Roman.ttf'),
    url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
    url('../fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Black.eot');
    src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirLTStd-Black.woff') format('woff'),
         url('../fonts/AvenirLTStd-Black.ttf') format('truetype'),
         url('../fonts/AvenirLTStd-Black.svg#AvenirBlack') format('svg');
    font-weight: 900;
    font-style: normal;

}

// Font
$font-size-h1: 1.8rem;
$mainfont: 'Avenir', 'Open Sans';
$headings-font-weight: 700;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$background: #000;
$modal-content-bg: #181818;
$modal-header-border-color: rgba(#fff, 0.2);
$fontColor: #fff;
$fontDim: #cdcdcd;
$fontColorAlt: #666;
$fontOnLIght: #000; // was #444
$brand-primary: #e0c264; // gold previously #e3a44d
$brand-accent: #d9232e; // red
$color-triad: #a53cad; // purple
$btn-info-bg: $color-triad;
$btn-primary-bg: darken($brand-primary, 10%);

$gutter-mobile-tile: 6px;

/* !Taken from ../../../bower_components/bootstrap/scss/_variables.scss *****************************************/

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  // md: 768px,
  md: 767px,
  lg: 992px,
  // xl: 1200px
  xl: 1100px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  // sm: 540px,
  md: 720px,
  lg: 960px,
  // xl: 1140px
  xl: 1040px
) !default;

/* !END Taken from ../../../bower_components/bootstrap/scss/_variables.scss *****************************************/ 

// @font-face {
//   font-family: 'Myriad';
//   src:
//     url('../fonts/Myriad-Roman.ttf'),
//     url('../fonts/Myriad-Roman.woff2') format('woff2'),
//     url('../fonts/Myriad-Roman.woff') format('woff');
//   font-weight: 200;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'Myriad';
//   src:
//     url('../fonts/Myriad.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'Myriad';
//   src:
//     url('../fonts/Myriad-Bold.ttf'),
//     url('../fonts/Myriad-Bold.woff2') format('woff2'),
//     url('../fonts/Myriad-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Myriad Pro';
//   src:
//     url('../fonts/MyriadPro-Regular.ttf'),
//     url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
//     url('../fonts/MyriadPro-Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }
// 
// @font-face {
//   font-family: 'Myriad Pro';
//   src:
//     url('../fonts/MyriadPro-Semibold.ttf'),
//     url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
//     url('../fonts/MyriadPro-Semibold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }
