@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/elements";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/taxonomy";
@import "layouts/pages";
@import "layouts/videos";
@import "layouts/profile";
@import "layouts/landing";

@mixin gradientLtoR {
	background-image:-webkit-gradient(linear,left top,right top,from(rgba(10,10,10,.8)),to(transparent));background-image:-webkit-linear-gradient(left,rgba(10,10,10,.8),transparent);background-image:-moz-linear-gradient(left,rgba(10,10,10,.8),transparent);background-image:-o-linear-gradient(left,rgba(10,10,10,.8),transparent);background-image:linear-gradient(to right,rgba(10,10,10,.8),transparent);
}
@mixin gradientRtoL {
	background-image:-webkit-gradient(linear,right top,left top,from(rgba(10,10,10,.8)),to(transparent));background-image:-webkit-linear-gradient(right,rgba(10,10,10,.8),transparent);background-image:-moz-linear-gradient(right,rgba(10,10,10,.8),transparent);background-image:-o-linear-gradient(right,rgba(10,10,10,.8),transparent);background-image:linear-gradient(to left,rgba(10,10,10,.8),transparent);
}
.titleOver {
  color: $fontColor;
  -webkit-text-fill-color: $fontColor;
  -webkit-text-stroke-width: 0.5px;
  line-height: 1;
  -webkit-text-stroke-color: $background;
  text-shadow: 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  line-height: 1;
}

/* !Mobile First - SCSS Responsive Breakpoints */
/*
https://www.sitepoint.com/managing-responsive-breakpoints-sass/
https://v4-alpha.getbootstrap.com/layout/overview/
*/

html {
    height: 100%;
    overflow-x: hidden;
    background: $background;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
    font-family: $mainfont;
    font-weight: 400; font-size: 22px; line-height: 22px;
    background-color: $background; color: $fontColor;

	@include media-breakpoint-down(md) {
		font-size: 16px; line-height: 16px;
    }
}

img {
	max-width: 100%;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

:root .container {
	@include media-breakpoint-down(md) {
		padding: 0 5px;
	}
}

/* !Layout */
.home,
.category {
	.container {
		width: 100%;
	}
}

.main {
	padding: 0;
	overflow: visible;
	@include media-breakpoint-down(xs) {
		padding: 0;
	}
}

h2.entry-title {
	color: $brand-primary;
}

.single-post .banner, .single-post #menuToggle {
	@include media-breakpoint-down(md) {
		display: none;
	}
}

/* !Non-mobile Menu */

li.sub {
    text-indent: 1rem;
}


/* !featureContainer */

#featured {
	margin-bottom: 2rem;

	.featureContainer {
		position: relative;
		height: 0; padding-bottom: 43%;
    	background-size: cover;

		@include media-breakpoint-down(md) {
			padding-bottom: 50%;
		}

    	.metrics {
	    	bottom: 20%; left: 0; transform: none; width: auto;
    	}

		&.touch {
			.metrics {
				position: absolute;
				left: 2rem; bottom: 2rem;
				transform: scale(0.8);
				transform-origin: bottom left;

				@include media-breakpoint-down(sm) {
					// transform: scale(0.5);
					// transform-origin: bottom left;
					bottom: 1rem;
				}
			}
		}
		.synopis-inner {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}
}

.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* END Mobile Menu
*****************************************/

/* !Pure-CSS Netflix Show Carousel */
/*	https://codepen.io/joshhunt/pen/LVQZRa
*****************************************/

.blog {
	article.post {
	    width: 20%;
	    float: left;
	    margin-right: 2%;

	    h2 {
		    font-size: 1rem;
	    }
	    video {
			max-width: 100%;
		}
	}
}

.single {
	h1.entry-title {
		font-size: 1.2rem;
	}
	    video {
			max-width: 100%;
		}
}

/* Pure-CSS Netflix Show Carousel
	!https://codepen.io/joshhunt/pen/LVQZRa *****************************************/

* {
    box-sizing: border-box;
}
.contain {
    width: 100%;
}
.scroll__rows {
	@include media-breakpoint-down(md) {
		// padding-left: $gutter-mobile-tile;
		padding-left: 0;
	}

	h4 {
		display: block;
		float: left;
		margin: 0 1rem;

		@include media-breakpoint-down(md) {
			font-size: 16px;
			margin: 0px 0.5rem;
			font-weight: 900;
		}
	}

	.view {
		font-size: 1rem;
		position: relative;
		top: 0.2rem;
		float: right;
		margin-right: 2rem;
		z-index: 10;

		@include media-breakpoint-down(md) {
			font-size: 0.8rem;
		}
	}

	.parenthetical {
		font-size: 1rem;
		color: $brand-primary;

		@include media-breakpoint-down(md) {
			font-size: 0.8rem;
		}
	}
}
.row {
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0 0 -2rem 0;
    position: relative; bottom: 2rem;

	@include media-breakpoint-down(md) {
		margin: 0;
	}

	@at-root .video-grid#{&} {
		overflow: visible;
	}

//     &:hover {
// 		z-index: 100;
//     }

    .handle {
		position: absolute; top: 0;
		height: 100%; width: 3rem;
		// background: red;
		cursor: pointer;
		display: flex;
		align-items: center;
		opacity: 0; z-index: -100;

		&.show {
			@include gradientLtoR;
			opacity: 1; z-index: 100;
		}

		&:active, &:focus {
			outline: none;
			text-decoration: none;
		}

		span {
			font-family: FontAwesome;
			font-size: 3rem;
		}

		@include media-breakpoint-down(md) {
			display: none;
		}
    }
    .handlePrev {
	    left: 0;
    }
    .handleNext {
	    right: 0;
	    text-align: right;
	    justify-content: flex-end;
	    &.show {
			@include gradientRtoL;
			opacity: 1; z-index: 100;
		}
    }
    .row__inner {
	    overflow-x: scroll;
	    -webkit-overflow-scrolling: touch;
        -webkit-transition: 450ms -webkit-transform;
        transition: 450ms -webkit-transform;
        transition: 450ms transform;
        transition: 450ms transform,450ms -webkit-transform;
        font-size: 0;
        white-space: nowrap;
        padding: 2.5rem 0 4.5rem;

        -ms-overflow-style: none;  // IE 10+
		overflow: -moz-scrollbars-none;  // Firefox

		@include media-breakpoint-down(md) {
			padding-bottom: 0;
			overflow-x: auto;
			overflow-y: hidden;
		}

		@at-root .video-grid#{&} {
			overflow-x: visible;
			white-space: normal;
			min-width: 100%;
			transform: none;
		}

		.tile {
		    margin-right: 2px;
		    font-size: 20px;
		    cursor: pointer;
		    -webkit-transition: 450ms all;
		    transition: 450ms all;
		    -webkit-transform-origin: center left;
		    transform-origin: center left;
		    // position: relative;

		    // &:hover {
			// 	z-index: 100;
    		// }

			@at-root .video-grid#{&} {
				padding-bottom: 2rem;
				@include media-breakpoint-down(md) {
					width: 48%;
					padding-bottom: calc(28.125% + 2rem);
				}

				.metrics {
					bottom: 0.4rem;
				}

				&:hover .metrics {
					bottom: 0.4rem;
				}
			}

			&.audience {
				display: inline-block;
			}

			&.artists {
				display: none;

				body.artist &,
				body.studio &,
				body.admin-bar {
					display: inline-block;
				}
			}

			&.studios {
				display: none;

				body.studio &,
				body.admin-bar {
					display: inline-block;
				}
			}

			@include media-breakpoint-down(sm) {
				width: 32%; margin-right:3%;
				padding-bottom: calc(18% + 2rem); height: 0;
			}


			@include media-breakpoint-down(xs) {
				width: 50%; margin-right: $gutter-mobile-tile;
				height: 0; padding-bottom: calc(28.125% + 2rem); // video tile + metrics
			}
		    position: relative;
		    display: inline-block;
			@include media-breakpoint-up(md) {
				// width: calc((1100/4) + 1px);
				width: 276px;
				height: calc(276px * 0.5625 + 2rem);
			}

		    .tile__img {
				@include media-breakpoint-up(md) {
			    	width: 100%;
					height: auto;
				}
			    -o-object-fit: cover;
			    object-fit: cover;
			}

			@include media-breakpoint-up(md) {
			    .tile__details {
			        position: absolute;
			        bottom: 0;
			        left: 0;
			        right: 0;
			        top: 0;
			        font-size: 10px;
			        opacity: 0;
			        background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
			        background: linear-gradient(to top,rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
			        -webkit-transition: 450ms opacity;
			        transition: 450ms opacity;

					&:after, &:before {
					    content: '';
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    display: $background;
					}
					&:after {
					    margin-top: -25px;
					    margin-left: -25px;
					    width: 50px;
					    height: 50px;
					    border: 3px solid #ecf0f1;
					    line-height: 50px;
					    text-align: center;
					    border-radius: 100%;
					    background: rgba(0,0,0,0.5);
					    z-index: 1;
					}
					&:before {
					    content: '▶';
					    left: 0;
					    width: 100%;
					    font-size: 30px;
					    margin-left: 4px;
					    margin-top: -9px;
					    text-align: center;
					    z-index: 2;
					}
			    }
		    }
/*
		    .tile__title {
			    font-size: 1.1rem;
			    position: absolute; top: 2rem; left: 1rem;
				font-weight: 700;
			    @extend .titleOver
			}
*/
			.tile__desc {
			    position: absolute;
			    bottom: 0;
			    width: 100%;
			    text-align: center;
			    padding: 0 1rem;
			    color: #fff;
			}
			&:hover {
				.tile__details {
					opacity: 1;
				}
			}

		}
    }
}

video {
    max-width: 100%;
}

.row:not(.video-grid) {
    .browser & {
		.row__inner:hover {
			@include media-breakpoint-up(md) {
		    	-webkit-transform: translate3d(-62.5px,0,0);
				transform: translate3d(-62.5px,0,0);
			}
		}

		.row__inner:hover .tile:hover {
			@include media-breakpoint-up(md) {
		    	-webkit-transform: scale(1.5);
		    	transform: scale(1.5);
		    	z-index: 10;
		    }
		    opacity: 1;
		}
		.tile:hover ~ .tile {
			@include media-breakpoint-up(md) {
		    	-webkit-transform: translate3d(125px,0,0);
				transform: translate3d(125px,0,0);
		    }
		}
    }
}

/* !Ultimate Member Pages */

/*
.um-login, .um-profile {
	@include media-breakpoint-down(xs) {
		padding: 0 15px;
	}
}
*/
$posterMaxWid: 300px;
.zr-item-poster {
	position: relative;
	margin-right: 2rem;
	flex-shrink: 0;
	float: left;
	.tab-content & {
		max-width: $posterMaxWid;
	}

	.content-overlay {
		.play-icon-wrap {
			width: 3rem; height: 3rem;
			margin: 0;
			transform: translate(-50%,-50%);
			line-height: 100%;
			&:hover {
				transform: scale(1.1) translate(-50%,-50%);
			}
		}
		.play-icon-wrap-rel-ring {
			border-width: 2px;
		}
		.play-icon-wrap-rel-play {
			line-height: 4rem;
		}
		.fa-2x {
			line-height: 3rem;
			margin-left: 0.5rem;
		}
	}
}
.zr-item-meta {
	// width: 100%;
	float: left;
	.tab-content & {
		max-width: calc( 100% - ( #{$posterMaxWid} + 2rem ) );
	}

	.published {
		font-size: 0.8rem;
	}
	.metrics {
		justify-content: flex-start;
		width: 100%;
	}
}
.zr-item-desc {
	font-size: 1.12rem;
	flex: 1 1 50%;
}

.editVidLink {
	display: none;

	.um-own-profile & {
		display: block;
	}
}

	.um-profile-nav-reeltalk {
		.member & {
		display: none;
		}
	}


.um-item {
	display: flex;
	font-size: 1.2rem;
	line-height: 1.4rem;
	@extend .clearfix;

	:root & {
		margin-bottom: 0 !important;
	}

	.um-item-img {
		flex-shrink: 0;
		margin-right: 2rem;
	}

	.um-item-link {
		i {
			color: $fontColor;
		}
		a {
			color: $brand-primary;
		}
	}
	.btn-sm {
		margin: 1rem 0 0.5rem;
		padding: 0.4rem 1rem;
	}

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;

		&:first-of-type {
			padding-top: 5px;
		}

		.zr-item-poster {
			width: 38%;
			margin: 0 2% 0 0;
			img {
				width: 100%;
				height: auto;
			}
			.content-overlay {
				display: none;
			}
		}
		.zr-item-meta {
			width: 60%;
			span {

				&.published {
					position: relative;
					bottom: 3px;
					font-size: 0.7rem;
					line-height: 1;
				}
			}
		}
		h3 {
			font-size: 1.15rem;
			margin: 0;
			line-height: 1;
		}
		.um-item-link {
			padding-right: 0;

			&.w-icon {
				position: relative;
				padding-left: 1.7rem;
				margin-bottom: 0.4rem;

				a {
					position: absolute;
					top: -3px;
					left: 0;
				}
			}
		}
		.zr-item-desc {
			font-size: 1rem;
			line-height: 1;
		}
		.metrics {
			margin-top: 0.2rem;
		}
	}
}

/* !Ultimate Member styles */

div.um {
	span {
		color: $fontColor;
	}
}

/* !Video Upload */

.acf-field--post-content {
	display: none;
}

.forsale {
	display: none;

	#forsale & {
		display: block;
	}
}

#forsale {
	.notforsale {
		display: none;

		&[data-width="25"] + [data-width="25"] {
			width: 50% !important;
		}
	}
	.acf-form-submit {
		text-align: center;
		margin-top: 2rem;
	}
}

/* !Postings page */

table {
	tr {
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
	th, td {
		padding: 0.4rem 2rem;

		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
	}
}

/* !Video Grid */
.viewall {
	margin-left: 3rem;
}

/* !Misc */

/*
body ::-webkit-scrollbar {
	height: 0px;
	background: transparent;
}
*/
:root .um-notification-b {
	display: none;
}
.center {
	text-align: center;

	.um-item & {
		clear: both;
		width: 100%;
	}
}

/*! CSS Used from: http://streamiumtheme.com/wp-content/themes/Streamium-Netflix-Theme-master/production/css/streamium.min.css?ver=16 */


 		.content-overlay-grad{background:rgba(10,10,10,.8);width:40%;position:absolute;top:0;bottom:0;}
 		.content-overlay-grad::before{content:'';position:absolute;top:0;bottom:0;left:100%;width:275px;
	 		@include gradientLtoR; }

 		.content-overlay{
 			width:100%;height:100%;position:absolute;top:0;left:0;right:0;bottom:0;

 			.rel{position:relative;height:100%;
	 			div[class^='col-'] {
	 				float: left;
	 			}
 			}
 			.synopis-outer{display:table;position:absolute;height:100%;width:100%;}
 			.synopis-middle{display:table-cell;vertical-align:middle;}
 			.synopis-inner{margin-right:auto;}
 			.synopis-inner h2{
	 			line-height:1;font-weight:700;color:#fff;font-size:3vw;
	 			@include media-breakpoint-down(sm) {
		 			font-size:5.5vw;
	 			}
	 		}
 			.synopis-inner div.content{color:#999;line-height:1.35;width:100%;}
 			.synopis-inner ul{padding:0;margin:10px 0;list-style-type:none;}
 			.synopis-inner ul li{color:#999;}
 			.synopis-inner ul li a{color:#fff;}
 			.synopis-premium-meta{width:100%;float:left;display:block;margin:10px 0 0 0;}
 			.synopis-meta-spacer{width:100%;float:left;display:block;}
 			.play-icon-wrap{position:absolute;left:50%;top:50%;border-radius:100%;text-align:center;vertical-align:middle;position:absolute;margin-left:-4vw;margin-top:-4vw;width:8vw;height:8vw;background-color:rgba(51,51,51,.8);line-height:8vw;color:#fff;cursor:pointer;transition:all .2s ease-in-out;font-size:1.3vw;display:block;}
 			.play-icon-wrap-rel{position:relative;height:100%;width:100%;}
 			.play-icon-wrap-rel-ring{border:.38vw solid #fff;position:absolute;width:100%;height:100%;border-radius:100%;}
 			.play-icon-wrap:hover{transform:scale(1.1);}
 			.play-icon-wrap-rel-play i{line-height:inherit;margin-left:1vw;}
 		}
