header {
	.container {
		@include media-breakpoint-down(md) {
			text-align: center;
    	}
    	@include media-breakpoint-up(md) {
	    	display: flex;
	    	align-items: center;
			justify-content: space-around;
    	}
    	.dropdown-menu {
	    	min-width: 7rem;
	    	li {
		    	a {
			    	color: $fontOnLIght;
			    	padding: 0.5rem 1rem;
			    	display: block;
			    	white-space: nowrap;
		    	}
	    	}
    	}
    	.nav-primary {
	    	flex-grow: 2;
	    	display: flex;
	    	justify-content: flex-end;
	    	align-items: center;

	    	.um-faicon-cloud-upload {
	    		position: relative;
	    		width: 2.3rem; height: 2.2rem;
				margin-right: 1rem;
		    	&:before {
			    	font-size: 2.2rem;
			    	position: absolute; top: 0.3rem; left: 0;
		    	}
		    	a {
			    	display: block;
					position: absolute; top: 0; left: 0;
					width: 100%; height: 100%;
					text-indent: -9999px;
		    	}
	    	}
	    	.um-notification-b {
		    	position: static;
				background: transparent;
				margin-left: 1rem;
				font-size: 2.2rem;
				width: auto; height: auto;
				display: block;
				box-shadow: none;
	    	}
/*
	    	.nav {
		    	justify-content: flex-end;
		    	align-items: center;
		    	li {
			    	margin-left: 1rem;
		    	}
	    	}
*/
    	}
    	.search-form, #menu-account-dropdown {
	    	margin-left: 1rem;
    	}
    	.search-form {
	    	label {
		    	position: relative;
		    	&:after {
			    	content: "\f002";
			    	font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					    color: #000;
						position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%);
						z-index: 100;
		    	}
	    	}
    	}
// .search-field {
// 	background-image: url(images/search-icon.png);
// 	background-position: 5px center;
// 	background-repeat: no-repeat;
// 	background-size: 24px 24px;
// }
		.search-submit {
			display:none;
		}
		.brand {
			width: auto;
			display: inline-block;
			position: relative;
			// margin-top: -1rem;
			text-align: center;
			text-decoration: none;
			color: #fff;
			margin: -1.4rem 0 0.3rem;
			padding-bottom: 0.4rem;

			.browser & {
				margin: 0.5rem 0 0.4rem;
			}
			img {
				@include media-breakpoint-down(md) {
					height: 80px; max-height: 16vh;
				}
				@include media-breakpoint-up(md) {
					height: 95px;
				}
			}
			span {
				position: absolute; bottom: 0; left: 50%;
				transform: translateX(-50%);
				font-size: 17px; line-height: 1;
				font-weight: 800;
				color: $brand-accent;
			}
		}
	}
}

.browser-mobile {
	.upload {
		position: absolute;
		right: 3.5rem;
		top: 31px;
		font-size: 1.25rem;
		color: $fontColor;
		z-index: 100;
		background: none;
	}
}
.search.mobile {
	position: absolute;
    top: 22px;
    right: 15px;

    input.search-field {
		width: 1.5rem;
		background: transparent;
		color: $fontColor;

		&:focus {
	    	width: 100%;
	    	background: $modal-content-bg;
    	}
    }
    label:after {
	    color: $fontColor !important;
	    font-size: 1.2rem !important;
    }
}
/* !Mobile Menu https://codepen.io/erikterwan/pen/EVzeRP *****************************************/
#mobileNav {
	// height: 0;
	width: 100%;
	text-align: center;

	.burger {
		width: 40px;
		transform: scale(0.7);
		position: relative;
		z-index: 100;
		pointer-events: none;
	}
}

#menuToggle, #back
{
  display: block;
  position: relative; top: 29px; left: 15px;
  z-index: 100;
  -webkit-user-select: none;
  user-select: none;

  input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute; top: -7px; left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;

    &:checked {
	// &:focus,
	// &:active {
	    + div > span
		{
		  opacity: 1;
		  // transform: rotate(45deg) translate(-2px, -1px);
		  transform: rotate(45deg) translate(-7px,-13px);
		  background: $fontColor;

		  &:nth-last-child(3)
		  	{
		  	  opacity: 0;
		  	  transform: rotate(0deg) scale(0.2, 0.2);
		  	}
		  &:nth-last-child(2)
		  	{
		  	  opacity: 1;
		  	  // transform: rotate(-45deg) translate(0, -4px);
		  	  transform: rotate(-45deg) translate(-8px,8px);
		  	}
		}

		~ ul, ~ section
		{
		  transform: scale(1.0, 1.0);
		  opacity: 1;
		}
    }
  }

  .burger span
  {
    display: block;
    width: 33px; height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: $fontDim;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    &:first-child
		{
		  transform-origin: 0% 0%;
		}
	:nth-last-child(2)
		{
		  transform-origin: 0% 100%;
		}
  }
}
#mobileAccount {
	padding: 0 1rem 0 1rem;

	img {
		margin-right: 0.5rem;
	}
}
#mobileBrowse {
	padding: 0 1rem 0 1rem;
}
#back {
	position: fixed; left: auto; right: -100rem;

	@include media-breakpoint-down(md) {
		right: 1rem; top: 1rem;
		width: 30px; height: 30px;
		transform: scale(0.75);
		transition: 400ms;
		background: rgba(0,0,0,0.5);
        border-radius: 50%;
        padding: 1.5rem;

		.playing & {
			right: -3rem;
		}

		&::before, &::after {
		    content: '';
		    position: absolute; top: 50%; left: 20%;
		    width: 60%; height: 4px;
		    margin-top: -2px;
		    background: $fontColor;
		}
		&::before {
		    transform: rotate(45deg);
		}
		&::after {
		    transform: rotate(-45deg);
		}
/*
		span
		{
		  opacity: 1;
		  transform: rotate(45deg) translate(0px,-6px);
		  background: $fontDim;

		  &:nth-last-child(2)
		  	{
		  	  opacity: 1;
		  	  transform: rotate(-45deg) translate(-16px,19px);
		  	}
		}
*/
	}
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#pullout
{
  // display: none;
  position: absolute; text-align: left;
  width: 300px; height: 100%;
  margin: -100px 0 0 -50px;
  padding: 0;

  background: $modal-content-bg;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  // box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);

  .um-notification-b {
	  display: block;
	  position: relative;
	  float: right;
  }

  .um-notification-live-count {
	  display: block;
  }

  a {
	  color: $fontDim;
  }

  li {
    padding: 10px 0;
    font-size: 1rem;
  }
  .seperate {
  	padding-bottom: 20px;
  	margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	&.loggedout {
		.logged-in & {
			padding-bottom: 10px;
			margin-bottom: 0;
			border: none;
		}
	}
  }
}
#mobileMenuWrapper {
	padding: 120px 0px 40px 45px;
	min-height: 100vh;
	height: 100%;
	background: $modal-content-bg;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.modal-backdrop {
	z-index: 10;
}

/* END Mobile Menu
*****************************************/

.outlinetext {
    color: #fff;
    // -webkit-text-fill-color: #fff;
    // -webkit-text-stroke-width: 0.5px;
    // -webkit-text-stroke-color: $brand-accent;
    font-weight: 900;
    font-size: 0.88rem;
    line-height: 1;
    padding-top: 0.2rem;
    // text-shadow: 0 6px 1px rgba($brand-primary, 0.1), 0 0 5px rgba($brand-primary, 0.1), 0 1px 3px rgba($brand-primary, 0.3), 0 3px 5px rgba($brand-primary, 0.2), 0 5px 10px rgba($brand-primary, 0.25), 0 10px 10px rgba($brand-primary, 0.2), 0 20px 20px rgba($brand-primary, 0.15);
}