[role="document"] {
	min-height: calc(100vh - 16rem);

    &::after {
    	content: "";
		clear: both;
		display: table;
    }
}

#entryContent {
	margin-top: 2rem;

	li {
		margin-bottom: 1rem;
	}

	b {
		font-weight: 900;
	}

    ol.letters {
	    list-style-type: lower-alpha;
    }
}

.um-profile-nav {
	&.head {
		margin-top: 1rem;
	}
	&.jobs {
		margin-bottom: 1rem;
	}
	.um-faicon-pencil:before {
		content: '\f008';
	}
}

.um-faicon-pushpin:before {
    content: "\f08d";
}

.entry-summary {
  dt {
      font-weight: 700;
      margin: 0;
      font-size: 1.1rem;
  }
  dd {
	  margin-bottom: 0.8rem;
      border-bottom: 1px solid #fff;
      padding: 0.3rem .5rem;
      font-weight: 400;	  
	  border-bottom: 1px solid rgba(255,255,255,0.2);
	  font-weight: 200;
	  color: $fontColorAlt;
  }
}

/* !Submissions page */

.profile-link-message:after {
    content: "Only links from your Zoereel profile accepted \a you can also go to your profile and upload a video for this project";
    white-space: pre;
    font-size: 0.7rem;
}

.noshare {
	.essb_links {
		display: none;
	}
}

.submitted-message {
    margin: 3rem auto;
    text-align: center;
    max-width: 600px;
    padding: 0 1rem;
    line-height: 1.25;
}

.single-submission {
    .um-message-conv {
	    display: none;
    }

    .um-message-conv-view {
	    margin-left: 0;
    }
}

/* !Watchlist page */
#watchlist {
	margin-top: 1rem;
	
	.dropdown {
		z-index: 10;
		margin: 0rem 1rem 1rem;
		bottom: 0.5rem;
		float: left;

		li {
			height: 1.8rem;
		}

		a {
			padding: 0.5rem 1.8rem 0.5rem 1rem;
			color: $background;
			white-space: nowrap;
			position: relative;
			
			&::after {
				position: absolute;
				right: 0;
				top: 7px;
			}
		}
	}
	article.type-posting {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	#watchlist {
		.tile {
			width: calc(25% - 2px);
			&:hover {
				transform: none;
			}
		}
	}
}

