/* !Ulimate Member Profile Page */

.um-page-user {

	.um .um-header {

		display: flex;

		.um-profile-photo {
			position: relative; top: 0;
			float: left;
			width: auto !important;

			.um-profile-photo-img {
				position: relative;
				top: 0 !important;
				background: transparent;
			}
			
			@include media-breakpoint-down(sm) {
				flex-shrink: 0;
				width: 21vw !important;
				margin-right: 1.5rem;
				
				.um-profile-photo-img {
					max-width: 100%;
					width: 100% !important;
					height: auto !important;
				}
			}
		}
		.um-profile-meta {
			padding: 0 4rem;

			@include media-breakpoint-down(sm) {
				padding-top: 0 !important;
				
				.um-name {
					line-height: 1;
				}
				.um-main-meta {
					padding: 0;
				}
			}
			.um-name a {
				font-size: 1.35rem;
			}
			.um-meta-text {
				font-size: 1.1rem;
				line-height: 1.4em;
				text-align: left;
			}
		}
/*
		.um-clear {
			clear: none;
			display: none;
		}
*/
		.um-dropdown-arr {
			top: -24px !important;
		}

	}

	.um-profile-edit {
	
		i {
			font-size: 3rem;
			color: $brand-primary;
		}

		@include media-breakpoint-down(sm) {
			top: -30px;
			
			i {
				font-size: 2rem;
			}
		}
	}

	.um-profile-nav {

		.um-faicon-pencil:before {
			content: '\f008';
		}
	}

	#inquire {
		float: right;
		margin: 0.75rem 0 0 1rem;
	}

	.um-followers-rc {

		@include media-breakpoint-down(sm) {
			a {
				font-size: 1rem;
				color: #fff !important;
			}
		}
		a {

			span {
				color: $brand-accent;
			}
		}
	}

	div.um-profile-body.posts {
		max-width: 100%;
		.metrics>span {
			width: auto;
			margin-right: 1rem;
		}
	}

	.comments, .reeltalk {
		.um-item {
			padding: 10px 0;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		.um-item-link {
			padding-top: 0.3rem;
		}
		.um-item-meta span {
			font-size: 1rem;
			padding-top: 1.5rem;
			display: block;
			float: left;
		}
		.zr-item-meta {
			span {
				font-size: 1.1rem;
			}
			.um-item-link {
				font-size: 0.9rem;
				padding-top: 1rem;
				a {
					&:hover {
						text-decoration: none;
					}
				}
				i {
					font-size: 1.25rem;
				}
			}
		}

		img {
			height: auto;
		}
/*
		img {
			margin-left: 1rem !important;
			max-height: 80px; width: auto;
		}
*/
		.nav-link {
			border: 1px solid;
			font-weight: bold;
			margin: 0.5rem 1rem 1rem 0;
			color: $brand-primary;
			border-color: $brand-primary;

			&.active {
				background: $brand-primary;
				color: $background;
			}
		}
		.um-ajax-items {
			display: none; // NOTE:Ajax Load more comments hidden until handled on template
		}
	}

	.followers-default {
		.um-followers-user-name {
			font-size: 1.1rem;
    		padding-top: 0.5rem;
		}
		.um-followers-user-bio {
			display: none;
		}
	}

} /* END .um-page-user  */

