/*! CSS Used from: https://zoereel.com/app/themes/zoereel/dist/styles/main.css */
html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
footer,header{display:block;}
h1{font-size:2em;margin:.67em 0; text-align: center;}
main{display:block;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
img{border-style:none;}
@media print{
*,:after,:before,div:first-letter,div:first-line{text-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
img{page-break-inside:avoid;}
h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
}
html{box-sizing:border-box;}
*,:after,:before{box-sizing:inherit;}
html{-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent;}
body{font-family:-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;font-size:1rem;line-height:1.5;color:#292b2c;background-color:#fff;}
h1,h3{margin-top:0;margin-bottom:.5rem;}
a{color:#e0c264;text-decoration:none;}
a:focus,a:hover{color:#cea629;text-decoration:underline;}
img{vertical-align:middle;}
a{-ms-touch-action:manipulation;touch-action:manipulation;}
h1,h3{margin-bottom:.5rem;font-family:inherit;font-weight:700;line-height:1.1;color:inherit;}
h1{font-size:2.5rem;}
h3{font-size:1.75rem;}
.container{position:relative;margin-left:auto;margin-right:auto;padding-right:15px;padding-left:15px;}
@media (min-width:576px){
.container{padding-right:15px;padding-left:15px;}
}
@media (min-width:767px){
.container{padding-right:15px;padding-left:15px;}
}
@media (min-width:992px){
.container{padding-right:15px;padding-left:15px;}
}
@media (min-width:1200px){
.container{padding-right:15px;padding-left:15px;}
}
@media (min-width:767px){
.container{width:720px;max-width:100%;}
}
@media (min-width:992px){
.container{width:960px;max-width:100%;}
}
@media (min-width:1200px){
.container{width:1140px;max-width:100%;}
}
.screen-reader-text{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.screen-reader-text:active,.screen-reader-text:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto;}
.main{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:576px){
.main{padding-right:15px;padding-left:15px;}
}
@media (min-width:767px){
.main{padding-right:15px;padding-left:15px;}
}
@media (min-width:992px){
.main{padding-right:15px;padding-left:15px;}
}
@media (min-width:1200px){
.main{padding-right:15px;padding-left:15px;}
}
@media (min-width:576px){
.main{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (max-width:991px){
header .container{text-align:center;}
}
@media (min-width:767px){
header .container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content:space-around;}
}
header .container .brand{width:auto;display:inline-block;position:relative;text-align:center;text-decoration:none;color:#fff;margin:2rem 0 2rem;padding-bottom:.4rem;}
@media (max-width:991px){
header .container .brand img{height:80px;max-height:16vh;}
}
@media (min-width:767px){
header .container .brand img{height:95px;}
}
header .container .brand span{position:absolute;bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);font-size:17px;line-height:1;font-weight:800;color:#d9232e;}
.outlinetext{color:#fff;font-weight:900;font-size:.88rem;line-height:1;padding-top:.2rem;}
footer{min-height:3rem;}
html{height:100%;overflow-x:hidden;background:#000;}
body{max-width:100vw;min-height:100vh;overflow:hidden;font-family:Avenir,Open Sans;font-weight:400;font-size:22px;line-height:22px;background-color:#000;color:#fff;}
@media (max-width:991px){
body{font-size:16px;line-height:16px;}
}
img{max-width:100%;}
a:hover{text-decoration:none;}
@media (max-width:991px){
:root .container{padding:0 5px;}
}
.main{padding:0;overflow:visible;}
@media (max-width:575px){
.main{padding:0;}
}
*{box-sizing:border-box;}
/*! CSS Used from: https://zoereel.com/app/plugins/um-messaging/assets/css/um-messaging.css */
*::-webkit-input-placeholder{color:#aaa;}
*:-moz-placeholder{color:#aaa;}
*::-moz-placeholder{color:#aaa;}
*:-ms-input-placeholder{color:#aaa;}
/*! CSS Used fontfaces */
@font-face{font-family:Avenir;src:url/app/themes/zoereel/dist/fonts/AvenirLTStd-Light.ttf),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Light.woff2) format("woff2"),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Light.woff) format("woff");font-weight:200;font-style:normal;}
@font-face{font-family:Avenir;src:url/app/themes/zoereel/dist/fonts/AvenirLTStd-Book.ttf),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Book.woff2) format("woff2"),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Book.woff) format("woff");font-weight:400;font-style:normal;}
@font-face{font-family:Avenir;src:url/app/themes/zoereel/dist/fonts/AvenirLTStd-Roman.ttf),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Roman.woff2) format("woff2"),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Roman.woff) format("woff");font-weight:700;font-style:normal;}
@font-face{font-family:Avenir;src:url/app/themes/zoereel/dist/fonts/AvenirLTStd-Black.eot);src:url/app/themes/zoereel/dist/fonts/AvenirLTStd-Black.eot#iefix) format("embedded-opentype"),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Black.woff) format("woff"),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Black.ttf) format("truetype"),url/app/themes/zoereel/dist/fonts/AvenirLTStd-Black.svg#AvenirBlack) format("svg");font-weight:900;font-style:normal;}